:root {
  --bg-color: beige;
  --text-color: #0d0d0d;
}

[data-theme="dark"] {
  --bg-color: #3F3F3F !important;
  --text-color: #fff !important;
}

/*.movie_list_card*/

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  /*position: absolute;*/
}


.darkmode_button {
  position: fixed;
  top: 85px;
  right: 20px;
  width: 80px;
}

[data-theme="dark"] .darkmode_button {
  background-color: beige;
  color: #0d0d0d;
}

/*body {*/
/*  background: repeat-y url('https://cdnb.artstation.com/p/assets/images/images/024/303/529/4k/ben-mauro-benmauro-kb3d-cover-10v6small-final.jpg?1581979948');*/
/*}*/

.wrapper {
  padding-top: 50px;
  width: 1160px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}


